name: Run Python Script Every 5 Minutes

on:
  schedule:
    - cron: "*/2 * * * *"   # every 5 minutes
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run Python script
        run: |
          python add_number.py

      - name: Commit output file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add output.txt
          git commit -m "Update output.txt" || echo "No changes"
          git push
